.contenido {
width:90%;
margin:0 auto;
}
.boton, .boton_estudiante{cursor:pointer;}
.boton:hover{color:#01DF01}

.ventana{
display:none;
color:#808080;
line-height:22px;
font-size:14px;
margin:auto;
margin-top:1%;
margin-bottom:1%;
padding:1%;

}